<div class="product-policy">
    <div class="product-policy__item">
        <div class="product-policy__item__img">
            <img src="//theme.hstatic.net/1000340570/1000610409/14/icon-protect.svg?v=1903" alt="Protect">
        </div>
        <div class="product-policy__item__text">
            <div><b>Cam kết hàng chính hãng 100%</b></div>
            <div>Hoàn tiền <b>200%</b> nếu phát hiện hàng giả</div>
        </div>
    </div>
    <div class="product-policy__item">
        <div class="product-policy__item__img">
            <img src="//theme.hstatic.net/1000340570/1000610409/14/icon-secure.svg?v=1903" alt="Secure">
        </div>
        <div class="product-policy__item__text">
            <div><b>Giao dịch An Toàn - Uy Tín</b></div>
            <div>Hơn 100.000 đơn hàng đã ship</div>
        </div>
    </div>
    <div class="product-policy__item">
        <div class="product-policy__item__img">
            <img src="//theme.hstatic.net/1000340570/1000610409/14/icon-store.svg?v=1903" alt="Store">
        </div>
        <div class="product-policy__item__text">
            <div><b>Hơn 100.000 mặt hàng có sẵn</b></div>
            <div>Cần là có - Mua là ship</div>
        </div>
    </div>
    <div class="product-policy__item">
        <div class="product-policy__item__img">
            <img src="//theme.hstatic.net/1000340570/1000610409/14/icon-truck.svg?v=1903" alt="Truck">
        </div>
        <div class="product-policy__item__text">
            <div><b>Giao hàng toàn quốc</b></div>
            <div>Giao hàng 3H nội thành HCM </div>
        </div>
    </div>
</div>
<style>
    .product-policy {
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 10px;
        padding: 15px;
        font-size: 0.5em;
        display: flex;
        flex-wrap: wrap;
        margin: 15px 0;
    }

    .product-policy__item {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-bottom: 17px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        font-size: 15px;
    }

    .product-policy__item__img {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 35px;
        flex: 0 0 35px;
        margin-right: 17px;
    }

    policy__item__text {
        color: #5C5C5C;
        font-size: 13px;
        line-height: 1.4;
    }

    @@media (max-width: 767.98px) {
        .product-policy__item {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 17px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 13px;
        }
    }
</style>