
@{
    ViewBag.Title = "Index";
}


@{
    ViewBag.Title = "ServiceDetail";
}

<div class="cs-sidebar-enabled cs-sidebar-right">
    <div class="container">
        <div class="row">
            <!-- Content-->
            <div class="col-lg-9 cs-content py-4 mb-2 mb-sm-0 pb-sm-5">
                <div class="pb-4" style="max-width: 38rem;">
                    <nav aria-label="breadcrumb">
                        <ol class="py-1 my-2 breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bảng giá</li>
                        </ol>
                    </nav>
                    <h1>Bảng giá</h1>
                </div>

                <!-- Post content-->
                <p class="py-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.</p>
                <h2 class="h3 pt-2 pb-4">Some real life examples</h2>

                <h2 class="h3 pt-1 pb-4">Expert opinion</h2>
                <div class="bg-faded-primary rounded-lg p-4 mb-4">
                    <div class="p-md-3">
                        <blockquote class="blockquote mb-0">
                            <p class="text-nav">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida dignissimos ducimus qui blanditiis praesentium voluptatum.</p>
                            <p class="text-nav">Mattis enim ut tellus elementum sagittis vitae et leo duis.</p>
                            <footer class="blockquote-footer">Miguel Sánchez</footer>
                        </blockquote>
                    </div>
                </div>
                <p class="py-3">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum.</p>
                <!-- Horizontal pricing plans -->
                <!-- Pricing -->
                <div class="d-sm-flex align-items-start justify-content-between border-bottom py-4 py-sm-5">
                    <div class="ml-4 ml-sm-0 py-2" style="width: 10rem;">
                        <h3 class="mb-2">Free</h3>
                        <div class="font-size-xs">Find aute irure dolor in reprehenderit in volatek</div>
                    </div>
                    <div class="d-flex align-items-end py-3 py-sm-2 px-4">
                        <span class="h2 font-weight-normal text-muted mb-1 mr-2">$</span>
                        <span class="cs-price display-2 font-weight-normal text-primary px-1 mr-2">0</span>
                        <span class="h3 font-size-lg font-weight-medium text-muted mb-2">per<br>month</span>
                    </div>
                    <ul class="list-unstyled py-2 mb-0">
                        <li class="d-flex align-items-center mb-3">
                            <i class="fe-check font-size-xl text-primary mr-2"></i>
                            <span>Up to 3 projects for each member</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="fe-check font-size-xl text-primary mr-2"></i>
                            <span>2 team members allowed</span>
                        </li>
                    </ul>
                </div>

                <!-- Pricing -->
                <div class="d-sm-flex align-items-start justify-content-between py-4 py-sm-5">
                    <div class="ml-4 ml-sm-0 py-2" style="width: 10rem;">
                        <h3 class="mb-2">Standard</h3>
                        <div class="font-size-xs">Find aute irure dolor in reprehenderit in volatek</div>
                    </div>
                    <div class="d-flex align-items-end py-3 py-sm-2 px-4">
                        <span class="h2 font-weight-normal text-muted mb-1 mr-2">$</span>
                        <span class="cs-price display-2 font-weight-normal text-primary px-1 mr-2">15</span>
                        <span class="h3 font-size-lg font-weight-medium text-muted mb-2">per<br>month</span>
                    </div>
                    <ul class="list-unstyled py-2 mb-0">
                        <li class="d-flex align-items-center mb-3">
                            <i class="fe-check font-size-xl text-primary mr-2"></i>
                            <span>Unlimited number of projects</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="fe-check font-size-xl text-primary mr-2"></i>
                            <span>Up to 5 team members</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="fe-check font-size-xl text-primary mr-2"></i>
                            <span>24/7 support</span>
                        </li>
                        <li class="d-flex align-items-center mb-3">
                            <i class="fe-check font-size-xl text-primary mr-2"></i>
                            <span>Up to 30GB storage space</span>
                        </li>
                    </ul>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-12 mb-grid-gutter">
                        <div class="d-sm-flex justify-content-between align-items-center bg-light rounded-lg px-3 py-4 p-sm-4 mb-grid-gutter text-center text-sm-left border">
                            <div class="mr-sm-3 mb-4 mb-sm-0">
                                <h3 class="h4 mb-2">Truy cập cùng lúc: 1</h3>
                                <p class="mb-0">
                                    <span class="cs-price h2 font-weight-normal text-primary px-1 mr-2">120,000</span>
                                    <span class="h3 font-size-lg font-weight-medium text-muted mb-2">đ</span>
                                </p>
                            </div>
                            <a class="btn btn-primary" href="#">Đăng ký</a>
                        </div>
                        <div class="d-sm-flex justify-content-between align-items-center bg-light rounded-lg px-3 py-4 p-sm-4 mb-grid-gutter text-center text-sm-left border">
                            <div class="mr-sm-3 mb-4 mb-sm-0">
                                <h3 class="h4 mb-2">Truy cập cùng lúc: 2</h3>
                                <p class="mb-0">
                                    <span class="cs-price h2 font-weight-normal text-primary px-1 mr-2">200,000</span>
                                    <span class="h3 font-size-lg font-weight-medium text-muted mb-2">đ</span>
                                </p>
                            </div>
                            <a class="btn btn-primary" href="#">Đăng ký</a>
                        </div>
                        <div class="d-sm-flex justify-content-between align-items-center bg-light rounded-lg px-3 py-4 p-sm-4 mb-grid-gutter text-center text-sm-left border">
                            <div class="mr-sm-3 mb-4 mb-sm-0">
                                <h3 class="h4 mb-2">Truy cập cùng lúc: 3</h3>
                                <p class="mb-0">
                                    <span class="cs-price h2 font-weight-normal text-primary px-1 mr-2">280,000</span>
                                    <span class="h3 font-size-lg font-weight-medium text-muted mb-2">đ</span>
                                </p>
                            </div>
                            <a class="btn btn-primary" href="#">Đăng ký</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 mb-grid-gutter">
                        <div class="d-sm-flex justify-content-between align-items-center bg-light rounded-lg px-3 py-4 p-sm-4 mb-grid-gutter text-center text-sm-left border">
                            <div class="mr-sm-3 mb-4 mb-sm-0">
                                <h3 class="h4 mb-2">03 ngày</h3>
                                <p class="mb-0">
                                    <span class="cs-price h2 font-weight-normal text-primary px-1 mr-2">39,000</span>
                                    <span class="h3 font-size-lg font-weight-medium text-muted mb-2">đ</span>
                                </p>
                            </div>
                            <a class="btn btn-primary" href="#">Đăng ký</a>
                        </div>
                        <div class="d-sm-flex justify-content-between align-items-center bg-light rounded-lg px-3 py-4 p-sm-4 mb-grid-gutter text-center text-sm-left border">
                            <div class="mr-sm-3 mb-4 mb-sm-0">
                                <h3 class="h4 mb-2">07 ngày</h3>
                                <p class="mb-0">
                                    <span class="cs-price h2 font-weight-normal text-primary px-1 mr-2">79,000</span>
                                    <span class="h3 font-size-lg font-weight-medium text-muted mb-2">đ</span>
                                </p>
                            </div>
                            <a class="btn btn-primary" href="#">Đăng ký</a>
                        </div>
                        <div class="d-sm-flex justify-content-between align-items-center bg-light rounded-lg px-3 py-4 p-sm-4 mb-grid-gutter text-center text-sm-left border">
                            <div class="mr-sm-3 mb-4 mb-sm-0">
                                <h3 class="h4 mb-2">20 ngày</h3>
                                <p class="mb-0">
                                    <span class="cs-price h2 font-weight-normal text-primary px-1 mr-2">111,000</span>
                                    <span class="h3 font-size-lg font-weight-medium text-muted mb-2">đ</span>
                                </p>
                            </div>
                            <a class="btn btn-primary" href="#">Đăng ký</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Sidebar-->
            @Html.Partial("_Left_content")
        </div>
    </div>
</div>



