
<section class="dangky">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="form-dangky">
                    <div class="section-title text-center">
                        <h2 class="title text-white">
                            <img class="img-fluid" src="/Content/client/img/img-title.png"> Liên hệ chúng tôi
                        </h2>
                    </div>

                    <form action="#" method="post" role="form" class="php-email-form">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Họ và tên" required="">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" name="email" id="email" placeholder="Số điện thoại" required="">
                        </div>
                        <div class="form-group">
                            <textarea rows="4" class="form-control" placeholder="Lời nhắn"></textarea>
                        </div>
                        <div class="text-center"><button class="submit btn-contact" type="submit">Gửi liên hệ</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>