<div class="product-area mb-15">
    <div class="container bg-white">
        <div class="section-title-tab-wrap align-items-inherit mb-20">
            <div class="section-title-3">
                <h2>Sản phẩm dạng cột</h2>
            </div>
            <div class="btn-style-5">
                <a href="/MevaBe/Shop">Xem tất cả <i class="icon-arrow-right"></i></a>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-1.jpg">
                        </a>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span class="new-price">615.000đ</span>
                                <span class="old-price">615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-2.jpg">
                        </a>
                        <span class="pro-badge left">-20%</span>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-3.jpg">
                        </a>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-4.jpg">
                        </a>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-5.jpg">
                        </a>
                        <span class="pro-badge left">-20%</span>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-6.jpg">
                        </a>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-7.jpg">
                        </a>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-8.jpg">
                        </a>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-9.jpg">
                        </a>
                        <span class="pro-badge left">-20%</span>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-6">
                <div class="single-product-wrap">
                    <div class="product-img product-img-zoom">
                        <a href="/MevaBe/Shop/Detail">
                            <img src="~/Upload/images/product/product-10.jpg">
                        </a>
                        <span class="pro-badge left">-20%</span>
                        <button class="pro-badge-cart"><span class="pro-badge-cart-icon"><i class="fas fa-cart-plus"></i></span><span class="pro-badge-cart-content">Mua ngay</span></button>
                    </div>
                    <div class="product-content-wrap">
                        <div class="product-content-left">
                            <h4><a href="/MevaBe/Shop/Detail">Simple Black T-Shirt</a></h4>
                            <div class="product-price">
                                <span>615.000đ</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>