@model sFeatures_view
@using PKWebShop.Models
@using PKWebShop.AppLB
@using PKWebShop.Models.CustomizeModels
@{
    webconfiguration info = UserContent.GetWebInfomation();
}
@if (Model != null)
{
    <script src="~/Content/client/js/skitter/jquery.easing.1.3.js"></script>
    <script src="~/Content/client/js/skitter/jquery.skitter.min.js"></script>
    <div class="mb-3 mb-md-0">
        <div style="background-color: #dff3fd;">
            <div class="container px-0 px-md-3">
                <div class="banner banner-home skitter skitter-large with-dots">
                    <ul>
                        @foreach (var s in Model.Details)
                        {
                            foreach (var p in s.Files)
                            {
                                <li><img src="@p.FileName" /></li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
}