 <!-- Page content-->
<div class="container d-flex flex-column justify-content-center pt-5 mt-n6" style="flex: 1 0 auto;">
    <div class="pt-7 pb-5">
        <div class="text-center mb-2 pb-4">
            <h1 class="mb-5">
                <img class="d-inline-block" src="/Content/img/404-text.svg" alt="Error 404" /><span class="sr-only">Lỗi 404</span>
            </h1>
            <h2>Không tìm thấy trang!</h2>
            <p class="pb-2">Có vẻ nhưng trang bạn đang đến không tồn tại.</p><a class="btn btn-translucent-primary mr-3" href="/">Về trang chủ</a>
        </div>
        @*<div class="input-group-overlay mx-auto" style="max-width: 390px;">
            <div class="input-group-prepend-overlay"><span class="input-group-text"><i class="fe-search"></i></span></div>
            <input class="form-control prepended-form-control" type="text" placeholder="Search">
        </div>*@
    </div>
</div>
