/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-item + .info-item {
    margin-top: 40px;
}

.contact .info-item i {
    font-size: 20px;
    background: var(--color-primary);
    color: #fff;
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    margin-right: 15px;
}

.contact .info-item h4 {
    padding: 0;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--color-secondary);
}

.contact .info-item p {
    padding: 0;
    margin-bottom: 0;
    font-size: 14px;
    color: rgba(14, 29, 52, 0.8);
}

.contact .email-form {
    width: 100%;
}

    .contact .email-form .form-group {
        padding-bottom: 8px;
    }

    .contact .email-form .error-message {
        display: none;
        color: #fff;
        background: #df1529;
        text-align: left;
        padding: 15px;
        font-weight: 600;
    }

        .contact .email-form .error-message br + br {
            margin-top: 25px;
        }

    .contact .email-form .sent-message {
        display: none;
        color: #fff;
        background: #059652;
        text-align: center;
        padding: 15px;
        font-weight: 600;
    }

    .contact .email-form .loading {
        display: none;
        background: #fff;
        text-align: center;
        padding: 15px;
    }

        .contact .email-form .loading:before {
            content: "";
            display: inline-block;
            border-radius: 50%;
            width: 24px;
            height: 24px;
            margin: 0 10px -6px 0;
            border: 3px solid #059652;
            border-top-color: #fff;
            -webkit-animation: animate-loading 1s linear infinite;
            animation: animate-loading 1s linear infinite;
        }

    .contact .email-form input,
    .contact .email-form textarea {
        border-radius: 4px;
        box-shadow: none;
        font-size: 14px;
    }

    .contact .email-form input {
        height: 44px;
    }

    .contact .email-form textarea {
        padding: 10px 12px;
    }

    .contact .email-form button[type=submit] {
        background: #00aeef;
        border: 0;
        padding: 10px 35px;
        color: #fff;
        transition: 0.4s;
        border-radius: 5px;
        border-color: #00aeef;
    }

        .contact .email-form button[type=submit]:hover {
            background: rgba(13, 66, 255, 0.8);
        }

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.contact-home{
    background-image: url(../../images/bg/bg-cta.jpg);
    padding: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-home .email-form{
    padding: 20px 0;
}