.sidebar {
    padding:0;
  }
  .sidebar .sidebar-title-wrap{
    display: flex;
    justify-content: space-between;
  }
  .sidebar .sidebar-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: var(--color-default);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-title-wrap .icon{
    color:#0099ff
  }
  .sidebar .sidebar-content{
    margin-top: 20px;
  }
  .sidebar .sidebar-item {
    padding: 15px 25px;
    border: 1px solid #cccccc;
    border-radius: 5px;
  }
  .sidebar .sidebar-item+.sidebar-item {
    margin-top: 10px;
  }
  
  .sidebar .search-form form {
    background: #fff;
    border: 1px solid rgba(34, 34, 34, 0.3);
    padding: 5px 10px;
    position: relative;
    border-radius: 50px;
  }
  
  .sidebar .search-form form input[type=text] {
    border: 0;
    padding: 4px;
    border-radius: 50px;
    width: calc(100% - 60px);
  }
  
  .sidebar .search-form form input[type=text]:focus {
    outline: none;
  }
  
  .sidebar .search-form form button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 25px;
    margin: -1px;
    background: var(--color-primary);
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    line-height: 0;
  }
  
  .sidebar .search-form form button i {
    line-height: 0;
  }
  
  .sidebar .search-form form button:hover {
    background: rgba(0, 131, 116, 0.8);
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
  }
  
  .sidebar .categories ul li+li {
    padding-top: 10px;
  }
  
  .sidebar .categories ul a {
    color: var(--color-default);
    transition: 0.3s;
  }
  
  .sidebar .categories ul a:hover {
    color: var(--color-primary);
  }
  
  .sidebar .categories ul a span {
    padding-left: 5px;
    color: rgba(34, 34, 34, 0.4);
    font-size: 14px;
  }
  
  .sidebar .recent-posts .post-item+.post-item {
    margin-top: 15px;
  }
  
  .sidebar .recent-posts img {
    width: 80px;
    float: left;
  }
  
  .sidebar .recent-posts h4 {
    font-size: 15px;
    margin-left: 95px;
    font-weight: bold;
  }
  
  .sidebar .recent-posts h4 a {
    color: var(--color-default);
    transition: 0.3s;
  }
  
  .sidebar .recent-posts h4 a:hover {
    color: var(--color-primary);
  }
  
  .sidebar .recent-posts time {
    display: block;
    margin-left: 95px;
    font-style: italic;
    font-size: 14px;
    color: rgba(34, 34, 34, 0.4);
  }
  
  .sidebar .tags {
    margin-bottom: -10px;
  }
  
  .sidebar .tags ul li {
    display: inline-block;
  }
  
  .sidebar .tags ul a {
    color: #555555;
    font-size: 14px;
    padding: 6px 20px;
    margin: 0 6px 8px 0;
    border: 1px solid #d5d5d5;
    display: inline-block;
    transition: 0.3s;
    border-radius: 50px;
  }
  
  .sidebar .tags ul a:hover {
    color: #fff;
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
  }
  
  .sidebar .tags ul a span {
    padding-left: 5px;
    color: rgba(85, 85, 85, 0.8);
    font-size: 14px;
  }

  .price-range .price-input{
    width: 100%;
    display: flex;
    margin: 20px 0 0;
  }
  .price-range .price-input .field{
    display: flex;
    width: 100%;
    align-items: center;
  }
  .price-range .field input{
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
  }
  .price-range input[type="number"]::-webkit-outer-spin-button,
  .price-range input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  .price-range .price-input .separator{
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
  }
  .price-range .slider{
    height: 2px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
  }
  .price-range .slider .progress{
    height: 100%;
    left: 0%;
    right: 0%;
    position: absolute;
    border-radius: 5px;
    background: #0066ff;
  }
  .price-range .range-input{
    position: relative;
  }
  .price-range .range-input input{
    position: absolute;
    width: 100%;
    height: 5px;
    top: -4px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .price-range input[type="range"]::-webkit-slider-thumb{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: #fff;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    border: 2px solid #0099ff
  }
  .price-range input[type="range"]::-moz-range-thumb{
    height: 15px;
    width: 15px;
    border: none;
    border-radius: 50%;
    background: #fff;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0,0,0,0.05);
    border: 2px solid #0099ff
  }
  .sidebar .form-check-input:checked {
    background-color: #ec258a;
    border-color: #ec258a;
  }
  @media(max-width: 991px){
    .sidebar {
      position: fixed;
      top: 0;
      left: -100%;
      width: 100%;
      max-width: 300px;
      bottom: 0;
      transition: 0.3s;
      z-index: 9997;
      background-color: #fff;
      padding: 15px;
      height: 100vh;
      overflow-y: scroll  ;
    }
    .mobile-sidebar-active .sidebar {
      left: 0%;
    }
  }